PORT=3000
JWT_SECRET=super-secreto
JWT_EXPIRES_IN=1d
POSTGREST_URL=http://localhost:3001
POSTGREST_SCHEMA=public
POSTGREST_API_KEY=
ADMIN_EMAIL=admin@nuclear.local
ADMIN_PASSWORD=Admin123*
ADMIN_FULL_NAME=Administrador General
