PORT=3000
JWT_SECRET=super-secreto
JWT_EXPIRES_IN=1d
POSTGREST_URL=http://localhost:3001
POSTGREST_SCHEMA=public
POSTGREST_API_KEY=
FRONTEND_URL=http://localhost:4200
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu-cuenta@gmail.com
SMTP_PASS=tu-app-password-sin-espacios
SMTP_FROM=MENTORA <tu-cuenta@gmail.com>
ADMIN_EMAIL=admin@nuclear.local
ADMIN_PASSWORD=Admin123*
ADMIN_FULL_NAME=Administrador General
